<form method="post" action="/project/<%= @project['id'] %>/pull">
  <fieldset class="pull">
    <legend>1. Pull Changes from Master</legend>
    <input type="hidden" name="repo" value="dev_repo" />
    <button>Pull Changes</button>
  </fieldset>
</form>

<div class="span-12 column first">
  
  <form method="post" action="/project/<%= @project['id'] %>/add-remove-commit">
    <fieldset>
      <legend>2. Commit Changes</legend>
      <textarea placeholder="What's new?" name="message"></textarea>
    </fieldset>

    <fieldset>
      <legend>Status</legend>
      
      <% unless @added_files.empty? %>
        <h4>Changes to be Commited</h4>
	<% @added_files.each do |file| %>
	  <%= file %><br />
	<% end %>
	<br /><br />
      <% end %>

    <% unless @changed_files.empty? %>
        <h4>Changed Files</h4>
        <% @changed_files.each do |file| %>
          <input type="checkbox" name="files[changed][]" value="<%= file %>" /><%= file %><br />
	<% end %>
	<br /><br />
      <% end %>

    <% unless @deleted_files.empty? %>
        <h4>Deleted Files</h4>
	<% @deleted_files.each do |file| %>
          <input type="checkbox" name="files[deleted][]" value="<%= file %>" /><%= file %><br />
	<% end %>
	<br /><br />
      <% end %>
      
      <% unless @untracked_files.empty? %>
        <h4>Untracked Files</h4>
  	<% @untracked_files.each do |file| %>
          <input type="checkbox" name="files[untracked][]" value="<%= file %>"/><%= file %><br />
	<% end %>
	<br /><br />
      <% end %>

      <button type="submit">Select & Commit Changes</button>

    </fieldset>

  </form>

</div>

<div class="span-12 column last">
  
  <form method="post" action="/project/<%= @project['id'] %>/push">
    <fieldset>
      <legend>3. Push Changes</legend>
      <div class="right_field"><button type="submit">Push Changes</button></div>
    </fieldset>
  </form>

  <fieldset>
    <legend>Commit Log</legend>
    <% @commit_history.each do |commit_line| %>
      <%= commit_line %><br />
    <% end %>
  </fieldset>
</div>
