<br />
<div class="span-8 column first left_bar">
  <h3>Recent Commits</h3>
  <% @commit_history.each do |commit_line| %>
    <%= commit_line %><br />
  <% end %>
</div>

<div class="span-12 column last">
  <ol class="project_list">
    <li><a href="/project/<%= @project['id']%>/dev">Commit and Push Changes in Dev</a></li>
  
    <li><a href="/project/<%= @project['id']%>/test">Pull Changes into Test</a></li>

    <li><a href="/project/<%= @project['id']%>/pro">Pull changes into Production</a></li>
  </ol>
  <div class="center_text_big"><a href="<%= @project['dev_url'] %>">dev</a> &rarr; master &rarr; <a href="<%= @project['test_url'] %>">test</a> &rarr; <a href="<%= @project['production_url'] %>">production</div>
</div>
